about 404 error in the section 3.2

In the section 3.2 Methods on objects :
Servers SHOULD fail requests which do not pass their authorization checks with the appropriate HTTP error code, or the 404 Not Found error code where the existence of the object is considered private.

404 error is not related with authentication and authorization directly. 
In the RFP7231, it’s related with ‘403 Forbidden’. 

Of course, section 6.5.3 of RFC 7231 also tells us that an origin server that wishes to ‘hide’ the current existence of a forbidden target resource MAY instead respond with a status code of 404(Not found).

So I suggest to clarify more like below :

Servers SHOULD fail requests which do not pass their authorization checks with the appropriate HTTP error code, or the 403 Forbidden error code where the existence of the object is considered private. 
Also, an origin server that wishes to ‘hide’ the current existence of a forbidden target resource MAY instead respond with a status code of 404(Not found).


Good point.  Done, thank you!
