Change the required content-type returned by servers from `application/activity+json` to `application/activity+ld+json`

There is no restriction on the number of subtypes that can be included in a mime-type. By definition `application/activity+ld+json` indicates being a strict subset of `application/ld+json` and so makes documents immediately interpretable to existing clients that understand that content type.

This would resolve issues including https://github.com/linkeddata/rdflib.js/issues/688

Note that `application/activity+ld+json` is not and probably will never be a validly registered IANA media type. Multiple plus signs are disallowed. They do not represent subtypes. The single `+` is a separator between a media-type (e.g., `application/activity`) and a structured format (e.g., `json`). Regrettably, the advice obtained some years ago to register `ld+json` for JSON-LD was erroneous. 

`application/activity+json` would be acceptable for IANA registration, and will be viable for both JSON and JSON-LD processing of the data therein.

Ah check - I assume this is based on [Section 4.2.8 of RFC 6838](https://datatracker.ietf.org/doc/html/rfc6838#section-4.2.8), though it is not particularly clear in the way the RFC is written.

Thanks for clarifying!

`application/activity+json` is already registered: https://www.iana.org/assignments/media-types/application/activity+json . Its serialized JSON form is consistent with compact JSON-LD: https://www.w3.org/TR/activitystreams-core/#jsonld . `application/ld+json; profile="https://www.w3.org/ns/activitystreams"` is equivalent to `application/activity+json`: https://www.w3.org/TR/activitystreams-core/#media-type