Update references to RFC 7231 and 7234 to RFC 9110 and 9111

The HTTP/1.1 RFCs have been obsoleted; the Proposed Standard has been moved to an Internet Standard.

Makes sense. Marked for next version.

There are not references to RFC 9110 and 9111 in https://www.w3.org/TR/activitypub/

Updating the references makes sense, but adding new references seems like it should be a different proposal.

The proposal is to update the references, not add new references.

- RFC 7231 (cited in Section 3.2) has been obsoleted by RFC 9110
- RFC 7234 (cited in Sections 6 and 7) has been obsoleted by RFC 9111